<% provide(:title, 'Contact') %>
<h1>ใกล้รุ่ง (Near Dawn)</h1>
<p>
   เป็นเพลงพระราชนิพนธ์ลำดับที่ 4 ทรงพระราชนิพนธ์ใน พ.ศ. 2489 ขณะทรงเป็นสมเด็จพระอนุชาธิราช ทรงพระกรุณาโปรดเกล้าฯ ให้ศาสตราจารย์ ดร.ประเสริฐ ณ นคร ประพันธ์คำร้องภาษาไทย ส่วนคำร้องภาษาอังกฤษ ทรงพระกรุณาโปรดเกล้าฯ ให้ท่านผู้หญิงนพคุณ ทองใหญ่ ณ อยุธยา ประพันธ์ พระราชทานให้วงดนตรีสุนทราภรณ์ นำออกบรรเลงครั้งแรก ทางสถานีวิทยุกระจายเสียงกรมโฆษณาการ (ปัจจุบันคือกรมประชาสัมพันธ์) เมื่อเดือนกรกฎาคม พ.ศ. 2489
  <a href="http://www.railstutorial.org/contact">contact page</a>.
</p>