<div class="center jumbotron">
  <h1>บทเพลงพระราชนิพนธ์</h1>
  <h2>1. แสงเทียน (Candlelight Blues)</h2>
  <h2>2. ยามเย็น (Love at Sundown)</h2>
  <h2>3. สายฝน (Falling Rain)</h2>
  <h2>4. ใกล้รุ่ง (Near Dawn)</h2>
  <h2>5. ชะตาชีวิต (H.M. Blues)</h2>
  <h2>6. ดวงใจกับความรัก (Never Mind the Hungry Men's Blues)</h2>
  <h2>7. มาร์ชราชวัลลภ (Royal Guards March)</h2>
  <h2>8. อาทิตย์อับแสง (Blue Day)</h2>
  <h2>9. เทวาพาคู่ฝัน (Dream of Love Dream of You)</h2>
  <h2>10. คำหวาน (Sweet Words)</h2>
  <h2>11. มหาจุฬาลงกรณ์ (Maha Chulalongkorn)</h2>
  <h2>12. แก้วตาขวัญใจ (Lovelight in My Heart)</h2>
  <h2>13. พรปีใหม่</h2>
  <h2>14. รักคืนเรือน (Love Over Again)</h2>
  <h2>15. ยามค่ำ (Twilight)</h2>
  <h2>16. ยิ้มสู้ (Smiles)</h2>
  <h2>17. มาร์ชธงไชยเฉลิมพล (The Colours March)</h2>
  <h2>18. เมื่อโสมส่อง (I Never Dream)</h2>
  <h2>19. ลมหนาว (Love in Spring)</h2>
  <h2>20. ศุกร์สัญลักษณ์ (Friday Night Rag)</h2>
  <h2>21. Oh I say</h2>
  <h2>22. Can't You Ever See</h2>
  <h2>23. Lay Kram Goes Dixie</h2>
  <h2>24. ค่ำแล้ว (Lullaby)</h2>
  <h2>25. สายลม (I Think of You)</h2>
  <h2>26. ไกลกังวล (When), เกิดเป็นไทยตายเพื่อไทย</h2>
  <h2>27. แสงเดือน (Magic Beams)</h2>
  <h2>28. ฝัน (Somewhere Somehow), เพลินภูพิงค์</h2>
  <h2>29. มาร์ชราชนาวิกโยธิน (Royal Marines March)</h2>
  <h2>30. ภิรมย์รัก (A Love Story)</h2>
  <h2>31. Nature Waltz</h2>
  <h2>32. The Hunter</h2>
  <h2>33. Kinari Waltz</h2>
  <h2>34. แผ่นดินของเรา (Alexandra)</h2>
  <h2>35. พระมหามงคล</h2>
  <h2>36. ธรรมศาสตร์</h2>
  <h2>37. เตือนใจ (Old-Fashioned Melody)</h2>
  <h2>38. ไร้เดือน (No Moon), ไร้จันทร์</h2>
  <h2>39. เกาะในฝัน (Dream Island)</h2>
  <h2>40. แว่ว (Echo)</h2>
  <h2>42. เกษตรศาสตร์</h2>
  <h2>43. ความฝันอันสูงสุด (The Impossible Dream)</h2>
  <h2>44. เราสู้</h2>
  <h2>45. เรา-เหล่าราบ ๒๑ (We-Infantry Regiment 21)</h2>
  <h2>46. Blues for Uthit</h2>
  <h2>47. รัก</h2>
  <h2>48. เมนูไข่</h2>

</div>