<% provide(:title, "kingsong1") %>
<h1>เพลง ใกล้รุ่ง (Near Dawn)</h1>
<p>
   เป็นเพลงพระราชนิพนธ์ลำดับที่ 4 ทรงพระราชนิพนธ์ใน พ.ศ. 2489 ขณะทรงเป็นสมเด็จพระอนุชาธิราช ทรงพระกรุณาโปรดเกล้าฯ ให้ศาสตราจารย์ ดร.ประเสริฐ ณ นคร ประพันธ์คำร้องภาษาไทย ส่วนคำร้องภาษาอังกฤษ ทรงพระกรุณาโปรดเกล้าฯ ให้ท่านผู้หญิงนพคุณ ทองใหญ่ ณ อยุธยา ประพันธ์ พระราชทานให้วงดนตรีสุนทราภรณ์ นำออกบรรเลงครั้งแรก ทางสถานีวิทยุกระจายเสียงกรมโฆษณาการ (ปัจจุบันคือกรมประชาสัมพันธ์) เมื่อเดือนกรกฎาคม พ.ศ. 2489
</p>
<br>
<center><p>
<h2>เนื้อเพลง</h2>
ได้ยินเสียงแว่วดังแผ่วมาแต่ ไกล ไกล<br>
ชุ่มชื่นฤทัย หวานใดจะปาน<br>
ฟังเสียงบรรเลง ขับเพลงประสาน<br>
จากทิพย์วิมาน ประทานกล่อมใจ<br>

* ใกล้ยามเมื่อแสง ทอง ส่อง<br>
ฉันคอยมองจ้อง ฟ้าเรืองรำไร<br>
ลมโบกโบยมา หนาว ใจ<br>
รอช้าเพียงไร ตะวันจะมา<br>

** เพลิดเพลินฤทัย ฟังไก่ประสานเสียงกัน<br>
ดอกมะลิวัลย์ อวลกลิ่นระคนมณฑา<br>
โอ้ในยามนี้ เพลิน หนักหนา<br>
แสงทองนวลผ่องนภา แสนเพลินอุราสำราญ<br>

*** หมู่มวลวิหคบินผกมาแต่ รัง นอน<br>
เฝ้าเชยชิดช้อน ลิ้มชมบัวบาน<br>
ยินเสียงบรรเลง ดังเพลงขับขาน<br>
สอดคล้องกังวาน ซาบซ่านจับใจ<br>

( ซ้ำ * , ** , *** )
</p></center>

