<% provide(:title, "kingsong2") %>
<h1>เพลง ยามค่ำ (Twilight)</h1>
<p>
   เป็นเพลงพระราชนิพนธ์ลำดับที่ 15 ทรงพระราชนิพธ์ใน พ.ศ. 2495 ทรงพระกรุณาโปรดเกล้าฯ ให้พระเจ้าวรวงศ์เธอ พระองค์เจ้าจักรพันธ์เพ็ญศิริ นิพนธ์คำร้องทั้งภาษาอังกฤษและภาษาไทย แล้วได้พระราชทานให้นำออกบรรเลง ในงานของสมาคมนักเรียนเก่าสหรัฐอเมริกา ในพระบรมราชูปถัมภ์ ณ สโมสรสวนสราญรมย์ เมื่อวันเสาร์ที่ 23 กุมภาพันธ์ พ.ศ. 2495 เป็นเพลงในจังหวะฟอกซ์ทร็อต
</p>
<br>
<center><p>
<h2>เนื้อเพลง</h2>
ยามประกายแสงทองส่อง<br>
งามเรืองผ่องนภา<br>
ประเทืองผองมวลชีวา<br>
ดังพรจากฟ้าเสกมาให้<br>
ยามประกายแสงเดือนส่อง<br>
ยามนวลผ่องฟ้าไกล<br>
ชื่นชมสมดังดวงใจ<br>
สบสุขสุดใสหทัยบาน<br>
ยามค่ำลงโพล้เพล้ถ่ายเทประภา<br>
ในเมื่อยามทิวาต่อราตรีกาล<br>
มีแต่ความมืดมนอับจนดวงมาลย์<br>
เหงาปานขาดใจ<br>
แท้ที่จริงนั้นยามค่ำ<br>
นำให้รื่นฤทัย<br>
ค่ำลงแล้วราตรีใหม่<br>
เคลื่อนมาพาใจให้ชื้นชื่นเชย<br>
ยามรุ่งแสงทิวางาม<br>
เรืองอร่ามวิไล<br>
โลกเริงสำราญปานใด<br>
หมู่มวลพันธุ์ไม้ดอกใบบาน<br>
ครั้นเมื่อยามแสงเดือนส่อง<br>
ราตรีผ่องสำราญ<br>
หมู่ดาววับวามงามตระการ<br>
โลกเป็นสถานชื่นบานใจ<br>
ยามค่ำลงสลัวมืดมัวแสงสี<br>
แสนเปลี่ยวในฤดูสุดที่อาลัย<br>
มีแต่ความมืดมนอับจนดวงใจ<br>
คอยคืนใหม่งาม<br>
แท้ที่จริงนั้นยามค่ำ<br>
นำยามเนื่องถึงยาม<br>
ค่ำลงแล้วราตรีตาม<br>
โลกยิ่งสุดงามสมความชื่นชม
</p></center>

