<footer class="footer">
  <small>
    จัดทำโดย 57160608 นาย เสกสรร เนียมปาน
  </small>
  <nav>
    <ul>
      <li>มหาวิทยาลัยบูรพา คณะ วิทยาการสารสนเทศ  สาขา เทคโนโลยีสารสนเทศ</li>
    </ul>
  </nav>
</footer>